body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* background-color: rgba(0, 0, 0, 0.03); */
  background-color: white;
}


.links-styles{
  text-decoration: none;
  color: black;
}

label{
  cursor: pointer;
}

button{
  cursor: pointer;
}

